{%extends "template.html"%}
{%load static%}
{%block title%}CICEG{%endblock%}
{%block content%}
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <table>
                            <tr>
                                <td>Cod</td>
                                <td>Nombre</td>
                                <td>Apellido</td>
                                <td>Especialidad</td>
                                <td>Consultorio</td>
                            </tr>
                            {% for d in doctores %}
                            <tr>
                                <td>{{d.id}}</td>
                                <td>{{d.nombre}}</td>
                                <td>{{d.apellido}}</td>
                                <td>{{d.especialidad}}</td>
                                <td>{{d.consultorio}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </article>
{%endblock%}