{%extends "template.html"%}
{%load static%}
{%block title%}CICEG{%endblock%}
{%block content%}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Seguimos trabajando para mejorar nuestros servicios</h2>
                            <h3 class="post-subtitle">Proximamente implementaremos el laboratorio de anàlisis clínicos</h3>
                        </a>
                    </div>
                   
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{%url 'turnos'%}">Sacar Turno →</a></div>
                </div>
            </div>
        </div>
{%endblock%}